/* -------------------------------------------------------------------------------- */
/* ! Custom properties */
/* -------------------------------------------------------------------------------- */
:root {
    --light-grey: #dbd7d7;
    --light-blue: #8EDAFC;
    --white: #fff;
    --grey: #B1B1B1;
    --active: #E9EBEB;
    --sent: #D5F9BA;
}

/* -------------------------------------------------------------------------------- */
/* ! Reset */
/* -------------------------------------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    color: #444;
    font-size: 0.8em;
}

/* -------------------------------------------------------------------------------- */
/* ! General */
/* -------------------------------------------------------------------------------- */
body {
    font-family: 'Lato', san-serif;
}

#app {
    height: 100vh;
    width: 100%;
    background: linear-gradient(180deg, #009678 18%, #d8dbd5 18%);
    padding: 30px 0;
}

/* parti che prevedono funzionalità dell'app */
.toolbar {
    height: 70px;
    background-color: var(--light-grey);
    padding: 5px;
}

/* campi di input */
input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-family: 'Lato', san-serif;
    font-size: 1em;
    box-shadow: 0 1px 1px #eee;
}

input:focus-visible {
    outline: 0.5px solid var(--grey);
    box-shadow: 0 1px 1px transparent;
}

/* status contact: active */
.active {
    background-color: var(--active);
}

/* All avatar */
.user-icon-left img,
.contact img,
.contact-icons-l img {
    border-radius: 50%;
    height: 50px;
}

/* fonts size icon*/
i {
    font-size: 1.3em;
    cursor: pointer;
}

/* -------------------------------------------------------------------------------- */
/* ! App Boolzapp*/
/* -------------------------------------------------------------------------------- */
/* container app */
.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: var(--white);
}

/* parte sinistra */
#contactList {
    width: 40%;
}

.notification {
    height: 70px;
    background-color: var(--light-blue);
}

.bell-background {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--white);
    margin-right: 15px;
}

.bell-background i {
    width: 100%;
    text-align: center;
    line-height: 50px;
    color: var(--light-blue);
}

/* searchbar */
.searchbar {
    height: 50px;
    padding: 5px;
}

.search-icon {
    width: 10%;
    text-align: center;
}

.searchbar input {
    width: 90%;
    margin-left: auto;
}

/* Contacts */
.contacts {
    height: calc(100% - 190px);
    overflow-y: auto;
}

.contact {
    height: 70px;
    border-bottom: 1px solid var(--light-grey);
    padding: 10px;
    cursor: pointer;
}

.contact:hover {
    background-color: var(--light-grey);
}

/* display contact */
.name {
    padding: 0px 20px;
}

.time,
small {
    font-size: 0.8em;
    color: var(--grey);
}

/* parte destra: chat space */
#chatWrapper {
    width: 60%;
}

/* chat space: parte superiore -> info contatto */
.contact-nav {
    height: 60px;
    padding: 0 20px;
}

.user-icon-right i,
.contact-icons-right i {
    padding: 10px;
    color: #bdbdbd;
}

.contact-icons-right {
    margin-left: auto;
}

.chat {
    height: calc(100% - 140px);
    overflow-y: auto;
    padding: 0px 20px;
    background-image: url('../img/mine.jpg');
}

.msg {
    width: 300px;
    border-radius: 10px;
    padding: 10px;
    position: relative;
}

.msg:before {
    content: '';
    position: absolute;
    top: 0;
    width: 20px;
    height: 20px;
}

.msg small {
    display: block;
    text-align: right;
    padding-top: 5px;
}

/* panel sui messaggi*/
.icon-panel i {
    position: absolute;
    top: 10px;
    left: 270px;
    font-size: 0.8em;
}

.panel {
    position: absolute;
    top: 24px;
    left: 83px;
    width: 200px;
    background-color: var(--white);
    text-align: right;
}

.panel-option {
    padding: 15px 0;
}

.sent {
    background-color: var(--sent);
    margin-left: auto;
}

.sent:before {
    right: -12px;
    background: linear-gradient(135deg, var(--sent) 0%, var(--sent) 50%, transparent 50%, transparent);
}

.received {
    background-color: var(--white);
    margin-right: auto;
}

.received:before {
    right: 292px;
    background: linear-gradient(-135deg, white 0%, white 50%, transparent 50%, transparent);
}

.text-controls {
    align-items: center;
    height: 60px;
}

/* -------------------------------------------------------------------------------- */
/* ! Utilities */
/* -------------------------------------------------------------------------------- */
.db-debug {
    border: 1px solid red;
}

/* Layout and flex */
.h-100 {
    height: 100%;
}

.d-flex {
    display: flex;
}

.space-b {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.flex-grow-2 {
    flex-grow: 2;
}

/* Margin e padding */
.p-10 {
    padding: 10px;
}

.p-0-20 {
    padding: 0 20px;
}

/* border */
.b-r-1 {
    border-right: 0.5px solid #bdbdbd;
}

.icon .d-none,
.d-none {
    display: none;
    transform: 0.3s;
    transition: all 1s cubic-bezier(.215, .61, .355, 1);
}