/* -------------------------------------------------------------------------------- */
/* ! Variabili */
/* -------------------------------------------------------------------------------- */
:root {
    --light-grey: #eee;
    --light-blue: #71e3ff;
    --white: #fff;
    --grey: #444;
}

/* -------------------------------------------------------------------------------- */
/* ! Reset */
/* -------------------------------------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

/* -------------------------------------------------------------------------------- */
/* ! General */
/* -------------------------------------------------------------------------------- */
body {
    font-family: 'Lato', san-serif;
}

#app {
    height: 100vh;
    width: 100%;
    background: linear-gradient(180deg, #009678 18%, #d8dbd5 18%);
    padding: 30px 0;
}

/* -------------------------------------------------------------------------------- */
/* ! App Boolzapp*/
/* -------------------------------------------------------------------------------- */
/* container */
.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: var(--white);
}

#contactList {
    width: 40%;
}

.notification {
    height: 70px;
    background-color: var(--light-blue);
}

.searchbar {
    height: 50px;
    align-items: center;
}

.searchbar input {
    padding: 10px;
    width: 90%;
}

/* Contacts */
.contacts {
    height: calc(100% - 190px);
    overflow-y: auto;
}

.contact {
    height: 70px;
    border-bottom: 1px solid var(--light-grey);
    padding: 10px;
    cursor: pointer;
}

/* Stili per avatar */
.user-icon-left img,
.contact img,
.contact-icons-l img {
    border-radius: 50%;
    height: 50px;
}

.name {
    padding: 0px 20px;
}

.time,
small {
    font-size: 0.8em;
    color: var(--grey);
}

#chatWrapper {
    width: 60%;
}

.toolbar {
    height: 70px;
    background-color: var(--light-grey);
    padding: 5px;
}

.contact-nav {
    height: 60px;
    align-items: center;
    padding: 0 20px;
}

.user-icon-right {
    align-items: center;
    font-size: 1.3em;
}

.user-icon-right i,
.contact-icons-r i {
    padding: 10px;
    color: #bdbdbd;
    cursor: pointer;
}

.contact-icons-r {
    align-items: center;
    margin-left: auto;
}

.chat {
    height: calc(100% - 140px);
    overflow-y: auto;
    padding: 0px 20px;
    background-image: url('../img/mine.jpg');
}

.msg {
    width: 300px;
    border-radius: 10px;
    border: 0.7px solid var(--grey);
    padding: 10px;
}

.msg small {
    display: block;
    text-align: right;
    padding-top: 5px;
}

.sent {
    background-color: limegreen;
    margin-left: auto;
}

.received {
    background-color: var(--white);
    margin-right: auto;
}

.text-controls {
    align-items: center;
    height: 60px;
}

.text-controls input {
    border: none;
    border-radius: 5px;
    font-family: 'Lato', san serif;
}

.text-controls input:focus-visible {
    border: 1px solid red;
}

/* -------------------------------------------------------------------------------- */
/* ! Utilities */
/* -------------------------------------------------------------------------------- */
.db-debug {
    border: 1px solid red;
}

.h-100 {
    height: 100%;
}

.d-flex {
    display: flex;
}

.space-b {
    justify-content: space-between;
}

.flex-grow-2 {
    flex-grow: 2;
}

.active {
    background-color: coral;
}

.p-10 {
    padding: 10px;
}

.p-0-20 {
    padding: 0 20px;
}

.b-r-1 {
    border-right: 0.5px solid #bdbdbd;
}