/* -------------------------------------------------------------------------------- */
/* ! Reset */
/* -------------------------------------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

/* -------------------------------------------------------------------------------- */
/* ! General */
/* -------------------------------------------------------------------------------- */
#app {
    height: 100vh;
    width: 100%;
}

/* -------------------------------------------------------------------------------- */
/* ! Utilities */
/* -------------------------------------------------------------------------------- */
.db-debug {
    border: 1px solid red;
}